In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
ks = pd.read_csv("ks-projects-201801-extra.csv",
                parse_dates=['deadline','launched'])

In [5]:
#drop live projects
ks = ks.query('state != "live"')
#add outcome column
ks = ks.assign(outcome=(ks['state']=='successful').astype(int))
#timestamp features
ks = ks.assign(hour=ks.launched.dt.hour,
               day=ks.launched.dt.day,
               month=ks.launched.dt.month,
               year=ks.launched.dt.year)
#label encoding
cat_features = ['category', 'currency', 'country']
encoder = LabelEncoder()
encoded = ks[cat_features].apply(encoder.fit_transform)

data_cols = ['goal', 'hour', 'day', 'month', 'year', 'outcome']
data = ks[data_cols].join(encoded)
#defining fuctions to help encoding
import lightgbm as lgb
from sklearn import metrics
#we'll use 10% of the data as a validation set, 10% for testing, and the other 80% for training.
def get_data_splits(dataframe, valid_fraction=0.1):
    valid_fraction = 0.1
    valid_size = int(len(dataframe)*valid_fraction)
    
    train = dataframe[:-valid_size *2]
    valid = dataframe[-valid_size *2:-valid_size]
    test = dataframe[-valid_size:]
    
    return train, valid, test

def train_model(train, valid):
    feature_cols = train.columns.drop('outcome')
    
    dtrain = lgb.Dataset(train[feature_cols], label=train['outcome'])
    dvalid = lgb.Dataset(valid[feature_cols], label=valid['outcome'])

    param = {'num_leaves': 64, 'objective': 'binary', 
             'metric': 'auc', 'seed': 7}
    #object, default = regression
    bst = lgb.train(param, dtrain, num_boost_round=1000, valid_sets=[dvalid], 
                    early_stopping_rounds=10, verbose_eval=False)
    
    valid_pred = bst.predict(valid[feature_cols])
    valid_score = metrics.roc_auc_score(valid['outcome'], valid_pred)
    print(f"Validation AUC score: {valid_score:.4f}")

In [6]:
#train a model
train, valid, test = get_data_splits(data)
train_model(train, valid)

Validation AUC score: 0.7467

# COUNT ENCODING
Count encoding replaces each categorical value with the number of times it appears in the dataset. For example, if the value "GB" occured 10 times in the country feature, then each "GB" would be replaced with the number 10.

In [9]:
import category_encoders as ce
cat_features = ['category','currency','country']

count_enc = ce.CountEncoder()

#rename the columns with the _count suffix, and join to dataframe
count_encoded = count_enc.fit_transform(ks[cat_features])
data = data.join(count_encoded.add_suffix("_count"))

#train model
train, valid, test = get_data_splits(data)
train_model(train, valid)

Validation AUC score: 0.7486

In [11]:
data.head()

,goal,hour,day,month,year,outcome,category,currency,country,category_count,currency_count,country_count
0,1000.0,12,11,8,2015,0,108,5,9,1362,33853,33393
1,30000.0,4,2,9,2017,0,93,13,22,5174,293624,290887
2,45000.0,0,12,1,2013,0,93,13,22,5174,293624,290887
3,5000.0,3,17,3,2012,0,90,13,22,15647,293624,290887
4,19500.0,8,4,7,2015,0,55,13,22,10054,293624,290887

# TARGET ENCONDING
Target encoding replaces a categorical value with the average value of the target for that value of the feature. For example, given the country value "CA", you'd calculate the average outcome for all the rows with country == 'CA'

In [13]:
target_enc = ce.TargetEncoder(cols=cat_features)
target_enc.fit(train[cat_features], train['outcome'])

# Transform the features, rename the columns with _target suffix, and join to dataframe
train_TE = train.join(target_enc.transform(train[cat_features]).add_suffix('_target'))
valid_TE = valid.join(target_enc.transform(valid[cat_features]).add_suffix('_target'))

# Train a model
train_model(train_TE, valid_TE)

Validation AUC score: 0.7491

In [15]:
train_TE

,goal,hour,day,month,year,outcome,category,currency,country,category_count,currency_count,country_count,category_target,currency_target,country_target
0,1000.0,12,11,8,2015,0,108,5,9,1362,33853,33393,0.360190,0.357122,0.361636
1,30000.0,4,2,9,2017,0,93,13,22,5174,293624,290887,0.384615,0.373392,0.376631
2,45000.0,0,12,1,2013,0,93,13,22,5174,293624,290887,0.384615,0.373392,0.376631
3,5000.0,3,17,3,2012,0,90,13,22,15647,293624,290887,0.412655,0.373392,0.376631
4,19500.0,8,4,7,2015,0,55,13,22,10054,293624,290887,0.302625,0.373392,0.376631
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302891,12000.0,9,24,6,2015,1,113,13,22,22077,293624,290887,0.364414,0.373392,0.376631
302892,2000.0,22,23,9,2014,0,74,13,22,394,293624,290887,0.195719,0.373392,0.376631
302893,2500.0,0,3,10,2011,0,104,13,22,5741,293624,290887,0.326957,0.373392,0.376631
302894,2600.0,21,23,7,2015,0,58,1,3,11454,14830,14624,0.287979,0.275712,0.279543
302895,20000.0,16,4,6,2013,0,52,13,22,8514,293624,290887,0.255486,0.373392,0.376631

# CATBOOST ENCODING
Finally, we'll look at CatBoost encoding. This is similar to target encoding in that it's based on the target probablity for a given value. However with CatBoost, for each row, the target probability is calculated only from the rows before it.

In [16]:
# Create the encoder
target_enc = ce.CatBoostEncoder(cols=cat_features)
target_enc.fit(train[cat_features], train['outcome'])

# Transform the features, rename columns with _cb suffix, and join to dataframe
train_CBE = train.join(target_enc.transform(train[cat_features]).add_suffix('_cb'))
valid_CBE = valid.join(target_enc.transform(valid[cat_features]).add_suffix('_cb'))

# Train a model
train_model(train_CBE, valid_CBE)

Validation AUC score: 0.7492